html {
    font-family: 'Ubuntu', sans-serif;
}

html,body{
    height:100%;
    margin: 0;
}

header {
    width: 100%;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

    div#top_contact {
        background-color: rgb(218, 41, 28); 
        padding: 5px; 
        color: white; 
        text-align: center;
        padding: 10px;
    }

        div#top_contact > a {
            text-decoration: none;
            color: white;
        }

    div#banner > img {
        width: 100%;
    }

        #game {
            padding: 10px 20px;
            position: absolute;
            bottom: 10vh;
            left: 45vw;
            font-size: 18px;
            border-radius: 5px;
            background-color: rgb(218, 41, 28);
            color: white;
            margin: auto;
            transition: all 0.4s;
        }

            #game:hover {
                transform: scale(1.05);
            }

nav {
    margin-top: -5px;
    background-color: rgb(218, 41, 28); 
    padding: 5px; 
    color: white; 
    padding: 10px;
    display: flex;
    align-items: center;
}

    nav > img {
        display: none;
    }

    nav > ul {
        display: flex;
        flex-direction: row;
    }

        nav > ul > li {
            list-style: none;
            margin-right: 60px;
        }

            ul > li > a {
                text-decoration: none;
                color: white;
            }

article {
    margin: 20px;
    border: solid 6px #D11580;
    padding: 20px;
}

    article > p {
        column-count: 3;
        column-gap: 20px;
    }
        
    article > h1, article > h3 {
        text-align: center;
    }
    
    .what_illustrated > .illustrations {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .what_illustrated img {
        min-width: 285px;
        width: 41vw;
    }

#game_field {
    position: relative;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

    #game_field > * {
        margin: 20px;
    }

    #game_field > div.toggleSound {
        position: absolute;
        line-height: 4.9vw;
        font-size: 3.65vw;
        right: 1vw;
        top: 1vw;
        width: 5vw;
        height: 5vw;
        border-radius: 3.5vw;
        margin: 0px;
        background-color: lightgrey;
        transition: all 0.4s;
    }

    #game_field > div.toggleSound:hover {
        box-shadow: 0 0 5px #000;;
    }

    #game_field > img {
        width: 95vw;
        max-width: 700px;
    }

    #game_field > #counters {
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }

    #answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        #answers > * {
            width: 40vw;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: lightcoral;
            transition: all 0.4s;
        }

        #answers > *:hover {
            filter: drop-shadow(1px 0px 5px black);
            transform: scale(1.03);
        }

        #answers .active_answer {
            background-color: green;
            color: white;
        }
        
    #counters > #countdown {
        visibility: hidden;
    }

    #justification {
        display: none;
    }

        #justification.correct {
            color: green;
        }

        #justification.incorrect {
            color: red;
        }

    #confirm, #answers > a.redirectToGreeting {
        margin: 0px 10px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: green;
        color: white;
        transition: all 0.4s;
    }

    #confirm:hover {
        background-color: limegreen;
    }

#greetings {
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

div.modal_confirmation {
    display: none;
    z-index: 1;
    background-color:rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

    .modal_confirmation > * {
        padding: 20px;
        position: relative;
        left: 20vw;
        width: 60vw;
        top: 20vh;
    }

    .modal_confirmation .sound_on::after {
        content: '\1F50A';
    }

    .modal_confirmation .sound_off::after {
        content: '\1F507';
    }

    .modal_confirmation > div.confirmation_heading {
        border-radius: 7px 7px 0 0;
        background-color: rgb(218, 41, 28);
        text-align: center;
        color: white;
        font-size: x-large;
        font-weight: bold;
    }

        span.dismiss {
            color: white;
            float: right;
            cursor: pointer;
            transition: all 0.4s;
        }

            span.dismiss:hover {
                transform: scale(1.07);
            }

    .modal_confirmation > div.confirmation_body {
        border-radius:  0 0 7px 7px;
        background-color: white;
        font-size: x-large;
    }

    .confirmation_message {
        margin-bottom: 20px;
    }

    .control {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .control > button {
            border-radius: 3px;
            padding: 10px;
            font-size: x-large;
            transition: all 0.4s;
        }

            .control > button:hover {
                transform: scale(1.05);
                box-shadow: 0 0 5px #000;
            }

footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: rgb(218, 41, 28);
    color: white;
}

    footer > div {
        display: flex;
        margin: 20px;
    }

    div#authors {
        flex-direction: column;
    }

    div#social_media_links {
        align-items: center;
        justify-content: end;
    }

        div#social_media_links > a {
            display: block;
            width: 40px;
            height: 40px;
            filter: invert();
            background-size: cover;
            margin-right: 10px;
        }

        a#facebook {
            background: url('img/general/social.png') 0px 0px/40px 40px no-repeat;
        }

        a#instagram {
            background: url('img/general/social.png') -40px 0px/40px 40px no-repeat;
        }

        a#twitter {
            background: url('img/general/social.png') -80px 0px/40px 40px no-repeat;
        }

        a#youtube {
            background: url('img/general/social.png') -120px 0px/40px 40px no-repeat;
        }

        a#flickr {
            background: url('img/general/social.png') -160px 0px/40px 40px no-repeat;
        }

        div#version {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: small;
        }

@media screen and (max-width: 768px) {

    article > p {
        column-count: 2;
        column-gap: 20px;
    }

    nav > img {
        display: block;
        height: 10vh;
    }

    nav > ul {
        flex-direction: column;
    }

        nav > ul > li {
            padding-bottom: 0.5rem;
        }

    .what_illustrated > .illustrations {
        flex-direction: column;
        align-items: center;
    }

    .what_illustrated img {
        width: 80vw;
    }

    #answers {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #answers > * {
        width: 90vw;
    }

    #social_media_links {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 520px) {
    article > p {
        column-count: 1;
    }

    div#version {
        left: 5px;

    }
}

@media screen and (max-width: 426px) {
    div#social_media_links {
        flex-direction: column;
    }

    #game {
        left: 28vw;
        bottom: 5vh;
    }
}